[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jinja2 = ">=2.11.3"
Pillow = ">=8.1.1"

[packages]
flask = "*"
flask-wtf = "*"
wtform = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
pytest = "*"
flask-bcrypt = "*"
flask-testing = "*"
black = "==19.3b0"

[requires]
python_version = "3.6"
